src/*.exe
src/orobit
src/orobitd
src/test_orobit
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.orobit

# Compilation and Qt preprocessor part
*.qm
Makefile
orobit-qt
Orobit-Qt.app

# Unit-tests
Makefile.test
orobit-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
